<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :first_name %></strong>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <strong><%= form.label :last_name %></strong>
    <%= form.text_field :last_name %>
  </div>

  <div class="text">
   <strong> <%= form.label :email %></strong>
    <p>
  <%= current_user.email %>
</p>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
