<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% micropost.errors.full_messages.each do |message| %>
          <li><%= message%></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-form">
   <div class="field-group">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Concepto" %>
  </div>


  <div class="field-group">
    <%= form.label :description, 'Description' %>
    <%= form.text_area :description %>
  </div>

  <div class="field-group">
    <%= form.label :user_id, 'Assignee' %>
     <%= form.collection_select(:user_id, User.all, :id, :first_name) %>
    
  </div>
  
  <div class="field-group">
    <%= form.label :kind, 'Kind' %>
    <%= form.select :kind, Micropost.kinds.keys %>
  </div>

  <div class="field-group">
    <%= form.label :priority, 'Priority' %>
    <%= form.select :priority, Micropost.priorities.keys %>  
  </div>
    
  </div>
  
  <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Attach File</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01">
    <!--<label class="custom-file-label" for="inputGroupFile01">Choose file</label>-->
  </div>
</div>
  </div>
  <div class="actions">
    <%= form.submit "Create Issue", :class => 'button-primary' %>
    <%= link_to 'Back', microposts_path, class: 'cancel'  %>
  </div>
<% end %>
